{% extends 'master.html' %}
<title>{% block title %}Expenses{% endblock %}</title>

{% block 'body' %}
<a href="{% url 'home' %}">Back to Home</a>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
<canvas id="chart" width="500" height="500"></canvas>

<script>
    const myChart = new Chart("myChart", {
    type: "bar",
    data: {},
    options: {}
    });
</script>

{% endblock %}



<!-- <!DOCTYPE html>
<html> -->
<!-- <head> -->
    <!-- <title>Expenses Dashboard</title> -->
<!-- </head> -->

<!-- <body> -->
    <!-- <h1>Expenses</h1> -->
    <!-- <a href="{% url 'home' %}">Back to Home</a> -->

    <!-- Add financial content here -->
<!-- </body>

</html> -->