{% extends 'master.html' %}
<!-- Load Static files -->
{% load static %}

{% block title %}Fish Costs{% endblock %}

{% block body %}
<div class="container">
    <h2 class="mb-4">Fish Costs</h2>
    <div class="row g-3 mb-3">
        <!-- Date-range picker -->
        <div class="col-md-2">
            <label for="start-date" class="form-label">Start Date</label>
            <input type="date" id="start-date" class="form-control">
        </div>
        <div class="col-md-2">
            <label for="end-date" class="form-label">End Date</label>
            <input type="date" id="end-date" class="form-control">
        </div>
        <!-- Dropdown to choose date format -->
        <div class="col-md-2">
            <label for="grouping" class="form-label">Group By</label>
            <select id="grouping" class="form-select">
                <option value="date">Date</option>
                <option value="month">Month</option>
                <option value="year">Year</option>
            </select>
        </div>
        <!-- Dropdown to select chart type -->
        <div class="col-md-2">
            <label for="chart-type" class="form-label">Chart Type</label>
            <select id="chart-type" class="form-select" onchange="setChartType(this.value)">
                <option value="bar">Bar Chart</option>
                <option value="horizontalBar">Horizontal Bar Chart</option>
                <option value="line">Line Chart</option>
                <option value="spline">Spline Chart</option>
                <option value="area">Area Chart</option>
                <option value="scatter">Scatter Plot</option>
            </select>
        </div>
        <!-- Dropdown for fish filter by fish name -->
        <div class="col-md-2">
            <label for="fishname" class="form-label">Select Fish</label>
            <select id="fishname" class="form-select"></select>
        </div>
        <!-- Button to trigger chart generation based on selected filters -->
        <div class="col-md-2 d-flex align-items-end">
            <button onclick="filterChart()" class="btn btn-primary w-100">Generate Chart</button>
        </div>
        <!-- Button to download chart as PDF -->
        <div class="col-md-2 d-flex align-items-end">
            <button onclick="downloadChartAsPDF()" class="btn btn-primary w-100">Download Chart as PDF</button>
        </div>
    </div>
</div>
<!-- Render chart on canvas element-->
<canvas id="myChart"></canvas>

<!-- Load PDF export functionality -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'fishCost.js' %}"></script>
{% endblock %}