{% extends 'master.html' %}
<!-- Load Static files -->
{% load static %}

{% block title %}Land Analysis{% endblock %}

{% block body %}
<div class="container">
    <h2 class="mb-4">Land Analysis</h2>
    <div class="row g-3 mb-3">
        <div class="col-md-3">
            <label for="x-axis-type" class="form-label">X Axis</label>
            <select id="x-axis-type" class="form-select" onchange="setXAxisType(this.value)">
                <option value="id">ID</option>
                <option value="gher">Gher</option>
                <option value="mousa">Mousa</option>
                <option value="dag">Dag</option>
                <option value="khotian">Khotian</option>
            </select>
        </div>
        <div class="dropdown col-md-3">
            <label for="y-axis-type" class="form-label">Y Axis</label>
            <select id="y-axis-type" class="form-select" onchange="setYAxisType(this.value)">
                <option value="amount">amount</option>
                <option value="plane_land">plane_land</option>
                <option value="par_cannel">par_cannel</option>
            </select>
        </div>
        <!-- Dropdown to select chart type -->
        <div class="col-md-2">
            <label for="chart-type" class="form-label">Chart Type</label>
            <select id="chart-type" class="form-select" onchange="setChartType(this.value)">
                <option value="bar">Bar Chart</option>
                <option value="horizontalBar">Horizontal Bar Chart</option>
                <option value="line">Line Chart</option>
                <option value="spline">Spline Chart</option>
                <option value="area">Area Chart</option>
                <option value="scatter">Scatter Plot</option>
            </select>
        </div>
        <!-- Button to trigger chart generation based on selected filters -->
        <div class="col-md-2 d-flex align-items-end">
            <button onclick="filterChart()" class="btn btn-primary w-100">Generate Chart</button>
        </div>
        <!-- Button to download chart as PDF -->
        <div class="col-md-2 d-flex align-items-end">
            <button onclick="downloadChartAsPDF()" class="btn btn-primary w-100">Download Chart as PDF</button>
        </div>
    </div>
    <!-- Render chart on canvas element-->
    <canvas id="myChart"></canvas>
</div>

<!-- Load PDF export functionality -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'land.js' %}"></script>
{% endblock %}