{% extends 'master.html' %}
{% load static %}

{% block title %}Daily Work Logs{% endblock %}

{% block body %}
<div class="container">
    <h2 class="mb-4">Daily Work Logs</h2>
            <div class="row g-3 mb-4">
        <div class="col-md-4">
            <label for="start-date" class="form-label">Start Date</label>
            <input type="date" id="start-date" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="end-date" class="form-label">End Date</label>
            <input type="date" id="end-date" class="form-control">
        </div>
        <div class="dropdown col-md-4">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Choose chart
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#" onclick="setChartType('bar'); return false;">Bar Chart</a></li>
                <li><a class="dropdown-item" href="#" onclick="setChartType('line'); return false;">Line Chart</a></li>
            </ul>
        </div>
        <div class="col-md-4 d-flex align-items-end">
            <button onclick="filterChart()" class="btn btn-secondary w-100">Display Chart</button>
        </div>
    </div>
    <canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'logs.js' %}"></script>
{% endblock %}