{% extends 'master.html' %}
{% load static %}

{% block title %}Yield{% endblock %}

{% block body %}
<div class="container mt-5">
    <h3>All Fish Quantity per Year</h3>

    <div class="mb-3">
        <label for="year-select" class="form-label">Select Year</label>
        <select id="year-select" class="form-select" style="max-height: 200px; overflow-y: auto;">
            <option value="">All Years</option>
        </select>
    </div>

    <button id="generate-chart-button" class="btn btn-secondary">Generate Fish Buy Chart</button>
    <canvas id="fishChart"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'my_yield.js' %}"></script>
    {% endblock %}